/* html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-feature-settings: 'liga', 'kern';
  font-family: 'Montserrat', 'HelveticaNeueLTStd',
    'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  line-height: 1.5;
}

.fadein {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.fadein.lazyloaded {
  opacity: 1;
}

.blur-up {
  will-change: filter, opacity, transform;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: opacity 1s, blur 0.3s,
    -webkit-transform 1s;
  transition: opacity 1s, blur 0.3s,
    -webkit-transform 1s;
  transition: transform 1s, opacity 1s, blur 0.3s;
  transition: transform 1s, opacity 1s, blur 0.3s,
    -webkit-transform 1s;
  opacity: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.blur-up:not(.lazyload) {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

::-moz-selection {
  color: white;
  background: black;
  text-shadow: none;
}

::selection {
  color: white;
  background: black;
  text-shadow: none;
}

h1,
h2,
fieldset legend,
.dosvpn-article-list
  .dosvpn-article-list__item__anchor,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: 'Montserrat', 'HelveticaNeueLTStd',
    'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
}
h1:not([class]),
h2:not([class]),
fieldset legend:not([class]),
.dosvpn-article-list
  .dosvpn-article-list__item__anchor:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  max-width: 60rem;
}

h1 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 1.2961572031rem;
}
@media screen and (min-width: 37.5rem) {
  h1 {
    font-size: calc(
      1.2961572031rem + 1.8611773152 *
        ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h1 {
    font-size: 3.1573345183rem;
  }
}

h2,
fieldset legend,
.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  font-weight: 600;
  line-height: 1.375;
}
h2,
fieldset legend,
.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  font-size: 1.214767763rem;
}
@media screen and (min-width: 37.5rem) {
  h2,
  fieldset legend,
  .dosvpn-article-list
    .dosvpn-article-list__item__anchor {
    font-size: calc(
      1.214767763rem + 1.153825274 *
        ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h2,
  fieldset legend,
  .dosvpn-article-list
    .dosvpn-article-list__item__anchor {
    font-size: 2.368593037rem;
  }
}

h3 {
  font-weight: 500;
}
h3 {
  font-size: 1.138489rem;
}
@media screen and (min-width: 37.5rem) {
  h3 {
    font-size: calc(
      1.138489rem + 0.6384 *
        ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h3 {
    font-size: 1.776889rem;
  }
}

h4 {
  font-weight: 500;
}
h4 {
  font-size: 1.067rem;
}
@media screen and (min-width: 37.5rem) {
  h4 {
    font-size: calc(
      1.067rem + 0.266 *
        ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h4 {
    font-size: 1.333rem;
  }
}

h5 {
  font-weight: 500;
}
h5 {
  font-size: 1rem;
}
@media screen and (min-width: 37.5rem) {
  h5 {
    font-size: calc(
      1rem + 0 * ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h5 {
    font-size: 1rem;
  }
}

h6 {
  font-weight: 500;
}
h6 {
  font-size: 0.9372071228rem;
}
@media screen and (min-width: 37.5rem) {
  h6 {
    font-size: calc(
      0.9372071228rem + -0.1870195759 *
        ((100vw - 37.5rem) / 42.5)
    );
  }
}
@media screen and (min-width: 80rem) {
  h6 {
    font-size: 0.7501875469rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}

small {
  font-size: 0.75rem;
}

@media (max-width: 640px) {
  pre {
    overflow: hidden;
  }
}

p,
dl,
ol,
blockquote {
  margin: 1.25em 0;
}
p:not([class]),
ul:not([class]),
dl:not([class]),
ol:not([class]),
blockquote:not([class]) {
  max-width: 60rem;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  border-bottom: 2px dashed black;
  margin: calc(0.75rem + 1.25vw) 0;
}

fieldset {
  border: 1rem solid rgba(0, 0, 0, 0.02);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: calc(0.75rem + 1.25vw);
}
fieldset legend {
  border: 1rem solid rgba(0, 0, 0, 0.02);
  margin-bottom: 0;
  background-color: white;
  padding: 0.25em 0.5em;
}
fieldset > * {
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin: 0;
}
figure[style] {
  max-width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
  border: 0;
}

ol,
ul {
  padding: 0;
  list-style-position: inside;
}
ol li + li,
ul li + li {
  margin-top: 0.5em;
}

body {
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
} */

.dosvpn-article-list .article-date {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1;
}

.dosvpn-article-list .article-date .updated {
  color: rgba(0, 0, 0, 0.2);
}

.dosvpn-article-list {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.dosvpn-article-list:before {
  content: '';
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
@media (min-width: 770px) {
  .dosvpn-article-list:before {
    margin: calc((0.75rem + 1.25vw) * -1);
  }
}
@media (max-width: 480px) {
  .dosvpn-article-list {
    margin-left: calc((0.75rem + 1.25vw) * -1);
    margin-right: calc((0.75rem + 1.25vw) * -1);
  }
}
.background--dark .dosvpn-article-list:hover h1,
.background--dark .dosvpn-article-list:hover h2,
.background--dark
  .dosvpn-article-list:hover
  .dosvpn-article-list__item__anchor {
  opacity: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(black),
      to(black)
    ),
    -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(
      black 0%,
      black 100%
    ),
    linear-gradient(black 0%, black 100%);
  background-repeat: no-repeat;
  background-size: 0% 2px, 0% 2px;
  background-position: 0 98%, 100% 98%;
  -webkit-transition: background-size 0.4s
    cubic-bezier(0.435, 0, 0, 1);
  transition: background-size 0.4s
    cubic-bezier(0.435, 0, 0, 1);
}
.dosvpn-article-list
  .dosvpn-article-list__item__anchor:hover {
  background-size: 51% 2px, 50% 2px;
}

.dosvpn-article-list .dosvpn-article-list__item {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: calc(0.75rem + 1.25vw);
  background: #fafafa;
}
.dosvpn-article-list
  .dosvpn-article-list__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
@media (min-width: 770px) {
  .dosvpn-article-list
    .dosvpn-article-list__item:before {
    margin: calc((0.75rem + 1.25vw) * -1)
      calc((0.75rem + 1.25vw) * -1) 0;
  }
}

.dosvpn-article-list
  .dosvpn-article-list__item
  .dosvpn-article-list__item__anchor {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  will-change: opacity;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover {
  overflow: visible;
  z-index: 10;
  background: white !important;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover
  > * {
  opacity: 1;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover
  .dosvpn-article-list__item__anchor {
  color: black;
  text-shadow: none;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover:before {
  background: #fafafa;
}
.dosvpn-article-list
  .dosvpn-article-list__item
  + * {
  margin-top: calc(0.75rem + 1.25vw);
}
@media (min-width: 480px) and (max-width: 769px) {
  .dosvpn-article-list
    .dosvpn-article-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
@media (min-width: 1020px) {
  .dosvpn-article-list
    .dosvpn-article-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
.background--dark
  .dosvpn-article-list
  .dosvpn-article-list__item
  .dosvpn-article-list
  .background--dark
  .dosvpn-article-list__item {
  background-color: white;
}
.background--dark
  .dosvpn-article-list
  .dosvpn-article-list__item:hover:before,
.dosvpn-article-list
  .background--dark
  .dosvpn-article-list__item:hover:before {
  background: none;
  margin: 0;
}

.dosvpn-article-list .article-date {
  display: block;
}
@media (min-width: 480px) and (max-width: 770px),
  (min-width: 1020px) {
  .dosvpn-article-list .article-date {
    position: absolute;
    top: calc(0.75rem + 1.25vw);
    right: calc(0.75rem + 1.25vw);
  }
}

.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  margin-bottom: 0;
  line-height: 1.25;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  align-self: flex-end;
  /* width: calc(100% - (0.75rem + 1.25vw) * 5); */
  width: 100%;
}
@media (min-width: 480px) {
  .dosvpn-article-list
    .dosvpn-article-list__item__anchor {
    margin-top: calc(1.25rem + 0.25em);
  }
}

.dosvpn-article-container {
  margin: 0 auto;
  width: 45%;
  box-sizing: border-box;
  padding-bottom: 2em;
  padding-top: 6rem;
}
.dosvpn-back-home-btn {
  height: 2em;
  margin: 1em;
  margin-left: 0;
  transition: opacity 0.1s;
  display: block;
  position: relative;
  z-index: 10;
}
.dosvpn-back-home-btn:active {
  opacity: 0.5;
}
.dosvpn-back-home-icon {
  height: 100%;
  width: 2em;
}

.dosvpn-article-container img {
  max-width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}

.dosvpn-hidden {
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.dosvpn-article-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.dosvpn-article-list__item {
  padding: 0;
}

.dosvpn-article-list__item__anchor {
  text-decoration: none;
  word-break: break-all;
}
