.dosvpn-article-page {
  padding-bottom: 2em;
  padding-top: 6rem;
  margin: 0 auto;
  width: 90%;
}

.dosvpn-article-container {
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  /* padding-bottom: 2em;
  padding-top: 6rem; */
}

.dosvpn-article-list-container {
  width: 45%;
}

.dosvpn-article-more {
  list-style: none;
  margin: 0;
  flex: 1;
  padding-top: 2em;
}
/* .dosvpn-article-more__item {
} */

@media (max-width: 1200px) {
  .dosvpn-article-container,
  .dosvpn-article-list-container,
  .dosvpn-article-more {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .dosvpn-article-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
  }
  .dosvpn-article-more {
    padding-top: 7em;
  }
}

/* @media (min-width: 1200px) {
  .dosvpn-article-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 55%;
  }
  .dosvpn-article-more {
    padding-top: 7em;
  }
} */

.dosvpn-article-list-title {
  text-align: center;
  margin-bottom: 2em;
}

.dosvpn-article-list .article-date {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1;
}

.dosvpn-article-list .article-date .updated {
  color: rgba(0, 0, 0, 0.2);
}

.dosvpn-article-list {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.dosvpn-article-list:before {
  content: '';
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
@media (min-width: 770px) {
  .dosvpn-article-list:before {
    margin: calc((0.75rem + 1.25vw) * -1);
  }
}
@media (max-width: 480px) {
  .dosvpn-article-list {
    margin-left: calc((0.75rem + 1.25vw) * -1);
    margin-right: calc((0.75rem + 1.25vw) * -1);
  }
}
.background--dark .dosvpn-article-list:hover h1,
.background--dark .dosvpn-article-list:hover h2,
.background--dark
  .dosvpn-article-list:hover
  .dosvpn-article-list__item__anchor {
  opacity: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(black),
      to(black)
    ),
    -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(
      black 0%,
      black 100%
    ),
    linear-gradient(black 0%, black 100%);
  background-repeat: no-repeat;
  background-size: 0% 2px, 0% 2px;
  background-position: 0 98%, 100% 98%;
  -webkit-transition: background-size 0.4s
    cubic-bezier(0.435, 0, 0, 1);
  transition: background-size 0.4s
    cubic-bezier(0.435, 0, 0, 1);
}
.dosvpn-article-list
  .dosvpn-article-list__item__anchor:hover {
  background-size: 51% 2px, 50% 2px;
}

.dosvpn-article-list .dosvpn-article-list__item {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: calc(0.75rem + 1.25vw);
  background: #fafafa;
}
.dosvpn-article-list
  .dosvpn-article-list__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
@media (min-width: 770px) {
  .dosvpn-article-list
    .dosvpn-article-list__item:before {
    margin: calc((0.75rem + 1.25vw) * -1)
      calc((0.75rem + 1.25vw) * -1) 0;
  }
}

.dosvpn-article-list
  .dosvpn-article-list__item
  .dosvpn-article-list__item__anchor {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  will-change: opacity;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover {
  overflow: visible;
  z-index: 10;
  background: white !important;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover
  > * {
  opacity: 1;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover
  .dosvpn-article-list__item__anchor {
  color: black;
  text-shadow: none;
}
.dosvpn-article-list
  .dosvpn-article-list__item:hover:before {
  background: #fafafa;
}
.dosvpn-article-list
  .dosvpn-article-list__item
  + * {
  margin-top: calc(0.75rem + 1.25vw);
}
@media (min-width: 480px) and (max-width: 769px) {
  .dosvpn-article-list
    .dosvpn-article-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
@media (min-width: 1020px) {
  .dosvpn-article-list
    .dosvpn-article-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
.background--dark
  .dosvpn-article-list
  .dosvpn-article-list__item
  .dosvpn-article-list
  .background--dark
  .dosvpn-article-list__item {
  background-color: white;
}
.background--dark
  .dosvpn-article-list
  .dosvpn-article-list__item:hover:before,
.dosvpn-article-list
  .background--dark
  .dosvpn-article-list__item:hover:before {
  background: none;
  margin: 0;
}

.dosvpn-article-list .article-date {
  display: block;
}
@media (min-width: 480px) and (max-width: 770px),
  (min-width: 1020px) {
  .dosvpn-article-list .article-date {
    position: absolute;
    top: calc(0.75rem + 1.25vw);
    right: calc(0.75rem + 1.25vw);
  }
}

.dosvpn-article-list
  .dosvpn-article-list__item__anchor {
  margin-bottom: 0;
  line-height: 1.25;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  align-self: flex-end;
  /* width: calc(100% - (0.75rem + 1.25vw) * 5); */
  width: 100%;
}
@media (min-width: 480px) {
  .dosvpn-article-list
    .dosvpn-article-list__item__anchor {
    margin-top: calc(1.25rem + 0.25em);
  }
}

.dosvpn-back-home-btn {
  height: 2em;
  margin: 1em;
  margin-left: 0;
  transition: opacity 0.1s;
  display: block;
  position: relative;
  z-index: 10;
}
.dosvpn-back-home-btn:active {
  opacity: 0.5;
}
.dosvpn-back-home-icon {
  height: 100%;
  width: 2em;
}

.dosvpn-article-container img {
  max-width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}

.dosvpn-hidden {
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.dosvpn-article-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.dosvpn-article-list__item {
  padding: 0;
}

.dosvpn-article-list__item__anchor {
  text-decoration: none;
  word-break: break-all;
}
